// Breakpoints for different screen sizes used in responsive.scss
// Small Mobiles --- 0px - 360px
// Mobiles --- 361px - 768px
// Tabs --- 769px - 1024px
// Desktop --- 1025px - 1920px
// Large Screens --- Default CSS styles
$breakpoint-extra-small: 300px;
$breakpoint-small: 450px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1920px;

@mixin screenXS {
  @media screen and (min-width: 0px) and (max-width: $breakpoint-extra-small) {
    @content;
  }
}
@mixin screenS {
  @media screen and (min-width: calc($breakpoint-extra-small + 1px)) and (max-width: $breakpoint-small) {
    @content;
  }
}
@mixin screenM {
  @media screen and (min-width: calc($breakpoint-small + 1px)) and (max-width: $breakpoint-medium) {
    @content;
  }
}
@mixin screenL {
  @media screen and (min-width: calc($breakpoint-medium + 1px)) and (max-width: $breakpoint-large) {
    @content;
  }
}
@mixin screenXL {
  @media screen and (min-width: calc($breakpoint-large + 1px)) and (max-width: $breakpoint-extra-large) {
    @content;
  }
}
