.wrapper {
  width: 90%;
  max-width: max(90rem, 75%);
  margin: auto;
  height: 100%;
  // backdrop-filter: blur(25px);

  // background-color: rgb(105, 105, 105);
  padding: clamp(1rem, 5vw, 3rem);
}

.row {
  display: flex;
  flex-direction: row;

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--center--x {
    justify-content: center;
  }
  &--center--y {
    justify-content: center;
  }
}
