.creditcard {
  width: 100%;
  aspect-ratio: 3.5/2;
  // height: fit-content;
  border-radius: 1rem;
  $num: 12;
  $width: 32%;
  $delta: 1%;
  $color: rgb(0, 110, 255);
  //   $color: rgb(49, 224, 255);
  $color-tr: rgba($color, 0.6);
  background-size: 100% 100%, 100% 100%, calc(100% / $num) calc(100% / $num),
    calc(100% / $num) calc(100% / $num), calc(100% / $num) calc(100% / $num),
    calc(100% / $num) calc(100% / $num);
  background-color: rgba(lighten(adjust-hue($color, 20), 0), 1);
  background-image: linear-gradient(
      135deg,
      $color-tr 28%,
      transparent 30% 70%,
      $color-tr 72%
    ),
    linear-gradient(210deg, $color, transparent),
    linear-gradient(
      45deg,
      $color-tr calc($width - $delta),
      transparent calc($width + $delta)
    ),
    linear-gradient(
      135deg,
      $color-tr calc($width - $delta),
      transparent calc($width + $delta)
    ),
    linear-gradient(
      225deg,
      $color-tr calc($width - $delta),
      transparent calc($width + $delta)
    ),
    linear-gradient(
      315deg,
      $color-tr calc($width - $delta),
      transparent calc($width + $delta)
    );
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    width: 100%;
    // border: 2px solid;
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  &__bottom {
    width: 100%;
    // border: 2px solid;
  }

  &__webname {
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: rgb(188, 219, 255);
  }

  &__logo {
    width: 13%;

    &__image {
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    line-height: 0;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: fit-content;

    @include screenXS {
      font-size: 1.6rem;
    }
  }

  &__text {
    color: rgb(188, 219, 255);
    font-family: $font-tektur;
    font-weight: 500;
  }

  &__cardnumber {
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 1rem;
    text-align: center;
    color: white;

    @include screenXS {
      font-size: 1.6rem;
      word-spacing: 0rem;
    }
    @include screenS {
      font-size: clamp(1.5rem, 5.5vw, 2.5rem);
      word-spacing: 0rem;
    }
    @include screenM {
      font-size: clamp(1.5rem, 5.5vw, 2.5rem);
    }
    @include screenL {
      font-size: clamp(1.6rem, 2vw, 2rem);
      word-spacing: 0rem;
    }
    @include screenXL {
      font-size: clamp(1.6rem, 1.5vw, 3.5rem);
      word-spacing: 1rem;
    }
  }

  &__dates {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 1rem;
  }

  &__date {
    font-size: 1.2rem;
    width: 100%;
    @include screenM {
      font-size: clamp(1.2rem, 5.5vw, 1.8rem);
    }
    @include screenXL {
      font-size: clamp(1rem, 1vw, 2rem);
    }
    &:nth-child(1) {
      text-align: left;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }

  &__name {
    padding: 0rem 1rem;
    width: 100%;
    font-size: 1.8rem;
    overflow: hidden;
    text-wrap: nowrap;
    color: white;
    @include screenM {
      font-size: clamp(1.5rem, 6vw, 2.5rem);
    }
    @include screenXL {
      font-size: clamp(1.6rem, 1.5vw, 3rem);
    }
  }
}
