.navbar__container {
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(3rem, 10%, 5rem);
  aspect-ratio: 1;
  z-index: 100;
  border-radius: 50% 0% 50% 70%;
  transition: 0.5s ease-out;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  overflow: hidden;
}
.navbar {
  &__btn {
    top: 0;
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 6rem;
    aspect-ratio: 1;
    background-color: crimson;
    border-radius: 50% 0% 50% 50%;
    border-radius: 40% 0% 40% 70%;
  }

  &__nav {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 90%;
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__list {
    max-width: 30rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    // height: ;
    &__item {
      height: fit-content;
      width: 100%;
      // border: 2px solid rgb(68, 0, 255);
    }

    &__link {
      display: block;
      padding: 7px;
      text-align: center;
      width: 100%;
      position: relative;
      color: white;
      // background-color: aqua;
      background-image: linear-gradient(
        to right,
        transparent 50%,
        aqua,
        transparent 50%
      );
      transition: 0.2s linear;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 100%;
        filter: blur(2px);
        // background-color: azure;
        transition: 0.2s ease-in-out;
        background-image: linear-gradient(
          to right,
          transparent,
          rgb(255, 255, 255),
          transparent
        );
        z-index: -1;
      }

      &:hover {
        color: black;
        &::before {
          // background-color: aqua;
          width: 100%;
        }
      }
    }
  }
}
